// Nextflow config file for running on Google Cloud Life Sciences
params {
  config_profile_description = 'Google Cloud Life Sciences Profile'
  config_profile_contact = 'jkobject, cancer data science'
  config_profile_url = 'https://cloud.google.com/life-sciences'
  outdir = "gs://workamlproject/MEF2CMEF2D/output"
}

google {
  region = 'us-east1'
  location = 'us-central1'
  project = 'aml-chipseq-rnaseq-259419'
  lifeSciences.debug = false
  lifeSciences.preemptible = true
}

docker.enabled = true
workdir="gs://workamlproject/MEF2CMEF2D"
docker.runOptions = '-u \$(id -u):\$(id -g)'

process {
  executor = 'google-lifesciences'
  maxRetries = 2
  errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
}
