// Nextflow config file for running on Google Cloud Life Sciences
params {
  config_profile_description = 'Google Cloud Life Sciences Profile'
  config_profile_contact = 'jkobject, cancer data science'
  config_profile_url = 'https://cloud.google.com/life-sciences'
}

google {
  region = 'us-east1' //<- an available region in gcp
  location = 'us-central1' //<- an available region in google life science
  project = 'aml-chipseq-rnaseq-259419' //<- your project id
  lifeSciences.debug = false
  lifeSciences.preemptible = true
  lifeSciences.bootDiskSize = '50.GB'

}

docker.enabled = true
workdir="gs://workamlproject/work/" //<- where all the middle input will be saved
docker.runOptions = '-u \$(id -u):\$(id -g)'

process {
  executor = 'google-lifesciences'
  maxRetries = 2
  errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
}
